           body{
                      text-align:center;
}
           head{ 
                      margin: center;
}
           thead{ 
                      margin: center;
}
                      
