           body{
                      text-align:center;
}
           head{ 
                      margin: center;
}
           #nav { 
                      margin: center;
}
                      
