
           #banner {
                      display: block;
                      margin-left:auto;
                      margin-right:auto;
}

           #nav {
                      display: block;
                      margin-left:auto;
                      margin-right:auto;
}
                      
